@import url('https://fonts.googleapis.com/css?family=Lato:400,300,700,900');

/* wrapper */
#center {
  text-align:center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url("https://c.stocksy.com/a/H11200/z0/480579.jpg");
  background-size: cover;
  min-height: 90%;
  position: relative;

  .button-create-pad {
    color: white;
    background-color: #00e8bb;
    border: 1px solid #00e8bb;
    padding: 16px 25px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: bold;
    opacity: 1;
    margin-bottom: 10%;
    margin-top: 10%;
  }
  .button-create-pad:hover {
    opacity: 0,8;
    text-decoration: none;
    color: magenta;
    background-color: #FFFF00;
    border: 1px solid #FFFF00;
    margin-top: 10%
  }
}

#wrapper-home {
  text-align: center;
  padding: 5% 0 0 0;
  position: relative;
}

#wrapper-home h1 {
  margin-top: 15%;
  color: #fff;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: -1px;
}

h2.subtitle {
  color: #fff;
  font-size: 24px;
}

/* footer */
p.copyright {
  margin-top: 30px;
  color: #fff;
  text-align: center;
    padding: 0;
    margin-bottom: 5px;
}

.credits, .credits a {
    color: #fff;
}

.homepage-bck{
 color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-home {

  padding: 20px;
  background-color: magenta;
  color: white;

  .fa {
    color: yellow;
  }

  .button-signup-home {
      color: white;
      background-color: #00e8bb;
      border: 1px solid #00e8bb;
      padding: 9px 25px;
      border-radius: 8px;
      font-size: 20px;
      font-weight: bold;
      opacity: 1;
      margin-bottom: 1%;
      margin-top: 4%;
    }
  .button-signup-home:hover {
    opacity: 0,8;
    text-decoration: none;
    color: magenta;
    background-color: #FFFF00;
    border: 1px solid #FFFF00;
  }
}

h5 {
  font-weight: lighter;
  font-size: 18px;
}
