<div class="footer">

    <div class="footer-left-block">
      <div class="footer-left-link">Home</div>
      <div class="footer-left-link">About</div>
      <div class="footer-left-link">Contact</div>
    </div>

    <div class="footer-right-block">
      <a class="btn btn-social btn-facebook btn-simple">
        <i class="fa fa-facebook-square"></i>
      </a>
      <a class="btn btn-social btn-twitter btn-simple">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="btn btn-social btn-pinterest btn-simple">
        <i class="fa fa-pinterest"></i>
      </a>
    </div>

</div>

