<div id="center">
  <div id="wrapper-home">
    <h1>Create and organize your outings very simply!</h1>
  </div>
  <%= link_to t(".top_call_to_action", default: "Create an event"), new_event_path, class: "button-create-pad" %>
</div>
