.btn-medium {
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 16px;
  opacity: 1;
  background-color: #2381D0;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #2381D0;
  background-color: white;
}

.btn-confirm {
  color: white;
  padding: 10px 15px;
  border-radius: 50px;

  font-weight: bold;
  font-size: 16px;
  opacity: 1;
  background-color: #3CD600;


}

.btn-confirm:hover {
  opacity: 1;
  text-decoration: none;
  color: #3CD600;
  background-color: white;
}

.btn-declined {
 color: white;
  border-radius: 50px;

  padding: 10px 15px;
  font-weight: bold;
  font-size: 16px;
  opacity: 1;
  background-color: #FF0000;


}

.btn-declined:hover {
  opacity: 1;
  text-decoration: none;

  color:#FF0000;
  background-color: white;

}


.btn-login {
  color: white;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  opacity: 1;
  background-color: #FF33CC;
}

.btn-login:hover {
  opacity: 0.6;
  text-decoration: none;
  color: #FF33CC;
  background-color: none;
}


.btn-signfb {
  color: white;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  opacity: 1;
  background-color: #2381D0;
}
.btn-signfb:hover {
  opacity: .6;
  text-decoration: none;
  color: #2381D0;

}

.btn-medium-navbar {
  color: black;
  border: 2px solid #FFF000;
  padding: 1px 4px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  opacity: 1;
  background-color: white;
  margin-right: -21%;
}

.btn-medium-navbar:hover {
  text-decoration: none;
  color: white;
  background-color: #3CD600;
}


.btn-signup {
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  opacity: 1;
  background-color: #3CD600;
}

.btn-signup:hover {
  opacity: 0.6;
  text-decoration: none;
  color: #3CD600;
  background-color: white;
}


.btn-create {
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  opacity: 1;
  background-color: #3CD600;
}
.btn-create:hover {
  text-decoration: none;
  color: #3CD600;
  background-color: white;
}


.positionning {
  position: relative;
}

a {
  display: inline-block;
}


.btn-maggl {
  margin-left: 36%;
}


