.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  font-size: 14px;
  opacity: 0.6;
}

.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.btn-confirm {
  color: green;
  border: 1px solid green;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  font-size: 14px;
}

.btn-confirm:hover {
  opacity: 1;
  text-decoration: none;
  color: green;
}

.btn-declined {
  color: red;
  border: 1px solid red;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  font-size: 14px;
}

.btn-declined:hover {
  opacity: 1;
  text-decoration: none;
  color: red;
}

.btn-maggl {
  margin-left: 36%;
}

.btn-login {
  color: white;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  opacity: 1;
  background-color: #FF33CC;
}

.btn-login:hover {
  opacity: 0.6;
  text-decoration: none;
  color: #FF33CC;
  background-color: none;
}


.btn-signfb {
  color: #2381D0;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  opacity: 1;
  background-color: white;
}
.btn-signfb:hover {
  opacity: .6;
  text-decoration: none;
  color: #2381D0;
}

.btn-medium-navbar {
  color: #66FF99;
  border: 2px solid #66FF99;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  opacity: 1;
  background-color: white;
}

.btn-medium-navbar:hover {
  opacity: 0.6;
  text-decoration: none;
  color: #f7bb07;
}

.btn-signup {
  color: #66FF99;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 14px;
  opacity: 1;
  background-color: white;
}

.btn-signup:hover {
  opacity: 0.6;
  text-decoration: none;
  color: #66FF99;
}

.positionning {
  position: relative;
}

a {
  display: inline-block;
}

