
.card-index {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: block;
  margin: 30px;

}

.card--participant {
 border-left: 6px solid #FF33CC;
 display: flex;
}

.card--event {
 border-left: 6px solid #66FF99;
 display: flex;
}

.card--cancelled {
border-left: 6px solid #D62828;
display: flex;
}

.card__date {
 align-items: center;
 color: white ;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-top: 5px;
}

.card__date__weekday {
 font-size: 1.15rem;
}

.card__date__day {
 font-size: 1.75rem;
}

.card__date__month {
 font-size: 1.15rem;
}

.card__content {
 padding: 0 1rem;
 position: relative;
}

.avatar-index-picture {
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
  position: absolute;
}

.restaurant_picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5%;
  margin-top: 22px;
}


.first_name_index {
font-size: 12px;
color: black;
}

.restaurant_name {
  font-size: 16px;
  color: black;
}

.due_date {
  font-size: 12px;
  color: $red;

}


.event_cancelled {
font-size: bold 10px;
color: red;
}



.card-bckgd-participation {
background-color: #FF33CC;
}

.card-bckgd-event {
background-color: #66FF99;
}

.card-bckgd-cancelled {
background-color:#D62828;

}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link:hover{
  opacity: 0.1;
}
