html,
body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin:0;
  padding:0;
  height:100%;
}
.colorize {
  background-color: white;
}
#wrapper-smaow {
  min-height:100%;
  position:relative;
}

.container-index {
  width: 100%;
  padding-left: 31%;
  padding-right: 11%;
  padding-top: 27px;
}

h1, h2 {
 font-weight: lighter;
}


.card-index {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16),
                0 2px 10px 0 rgba(0, 0, 0, 0.12);
    display: block;
    margin: 1.5rem 0;
    position: relative;
    a {
        text-decoration: none;
    }
}

.card--evening {
 border-left: 6px solid #FF33CC;
 display: flex;
}

.card--event {
 border-left: 6px solid #66FF99;
 display: flex;
}

.card--cancelled {
border-left: 6px solid #D62828;
display: flex;
}

.card__date {
 align-items: center;
 color: white ;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-top: 5px;
}

.card__date__weekday {
 font-size: 1.15rem;
}

.card__date__day {
 font-size: 1.75rem;
}

.card__date__month {
 font-size: 1.15rem;
}

.card__icon {
 align-items: center;
 color: #1ABC9C;
 display: flex;
 flex-direction: column;
 padding: 1rem 2rem 1rem 0;
 justify-content: center;
 width: 6rem;
}

.event-icon {
 font-size: 36px;
}

.material-icons {
 width: 1rem;
}

.card__button-bar {
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 1rem 0 1rem 1rem;
}

.card__content {
 padding: 0 1rem;
 position: relative;
 h2 {
  padding: 0;
  margin: 0;
 }
}

.restaurant_name {
  font-size: 16px;
  color: black;
}

.restaurant_picture {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5%;
  margin-top: 22px;
}

.due_date {
  font-size: 12px;
  color: $red;

}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.avatar-index {
  border-radius: 50%;
  max-width: 60px;
  max-height: 60px;
  position: absolute;
  margin-top: 22px;
  margin-left: -20px;
}

.card-restaurant{
  position: absolute;
  max-width:150px;
  max-height: 100px;
  right: 10px;
  top: 35px;
}

.first_name_index {
font-size: 12px;
color: black;
}

.event_cancelled {
font-size: bold 10px;
color: red;
}

.card-bckgd-participation {
background-color: #FF33CC;
}

.card-bckgd-event {
background-color: #66FF99;
}

.card-bckgd-cancelled {
background-color:#D62828;

}
