.selectable_users {
  img {
    border-radius: 50%;
    width: 50%;
    height: 50%;
    object-fit: cover;
    transition: box-shadow ease 200ms;
    margin: 4px;
    border: 3px solid transparent;
  }
  input:checked + img {
    border: 2px solid #67d778;
  }
  input {
    display: none;
  }
}

.card-selectable-users {
  font-size: 12px;
  padding-top: 10px;
}
