


.container_show {
  border-left: 6px solid #FFFF00;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16),
              0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin: 1.5rem 0;
  padding: 15px ;
}
.photo_show {
width: 100px;
height: 100px;
}


.title {


}

.placeandtime {


}

.guests {
padding: 10px;

}


.ultimatum {


}

.confirm {

}
.buttonsrow1 {

}

.text-confirmed{
color: green;
font-weight: bold;
}
.text-declined{
color: red;
font-weight: bold;
}
.text-pending{
color: blue;
font-weight: bold;
}
