.container_show {
  border-left: 6px solid #FFFF00;
  border-radius: 2px;
  margin: 1.5rem 0;
  padding: 15px ;
}

.title {
  font-size: 20px;
  font-weight: lighter;
}

.placeandtime {
}

.guests {
  padding: 10px;
}


.ultimatum {
}

.confirm {
}
.buttonsrow1 {
}

.text-confirmed{
color: green;
font-weight: bold;
}
.text-declined{
color: red;
font-weight: bold;
}
.text-pending{
color: blue;
font-weight: bold;
}

.testx {
margin-bottom: 20px;
}
